body {
	padding: 50px;
}

section#components {
	padding-top: 0px;
}

.tocify h2 {
	text-align: center;
}

.sidebar-nav {
	padding: 9px 0;
}

.apeye-dialog a {
	text-decoration: underline;
}

.headerDoc {
	color: #005580;
}

.hero-unit {
	padding: 0 60px;
}

span.note {
	font-size: 14px;
}

.source-area {
	width: 100%;
	height: 200px;
	background: #D9D9D9;
}

select {
	height: 20px;
	padding: 0;
}

.toc-header {
	visibility: hidden;
	height: 0;
	margin: 0;
}

/* Override bootstrap styles */
.apeye header h4, .apeye-dialog .ui-dialog-title {
	color: #444;
}

#toc {
	width: 200px;
	position: fixed;
	overflow-y: auto;
	margin-top: 15px;
}

#toc ul, #toc li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 30px;
}

#toc .toc-h2 {
	text-indent: 10px;
}

#toc .toc-h3 {
	text-indent: 30px;
	font-size: 12px;
}

#toc a:hover {
	text-decoration: none;
}

#toc a {
	margin: 0;
}
